*{
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: purple;
}

h1 {
    color: #b92b27;
}

#login {
    background-color: white;

}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

.post a {
    color: purple;
    background-color: yellow;
}

nav ul li a {
    color: orange;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: white;
}

div > input {
    background-color: darksalmon;
}

input[type="text"] {
    color: yellow;
}

input[type="password"] {
    color: red;
}
input[type] {
    background-color: ghostwhite;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: pink;
    color: black;
}

p :hover {
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

